nav-link {text-align: right;
color: rgb(187, 52, 52);}
u, h5 {color: rgb(233, 233, 233);}

body {
    background-image: url(BG\ Gradient.svg);
    background-size: cover;
}

footer {background-color: rgb(34, 148, 34);
height: min-content;}

#SM {
    text-align: right;
    padding-bottom: 20px;
}

#CR {
   margin-bottom: 0px;
}